{% extends "account/base.html" %}
{% load static %}
{% block content %}
<section class="e-block about-hero text-center">
    <div class="container">
        <div class="des">
            <h2>Empowering<br>Global Development Careers</h2>
            <p>Meet the Visionary Behind My Career Expert</p>
            <div class="counter">
                <div class="divider"></div>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="counter-item">
                         <h3><span class="count">400</span>+</h3>
                         <p>Daily global job opportunities</p>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-12">
                        <div class="counter-item">
                         <h3><span class="count">100</span>+</h3>
                         <p>Keywords in use</p>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-12">
                        <div>
                         <h3><span>2018</span></h3>
                         <p>Active since</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="OurMission" class="daily-customization-how-it-work">
    <div class="daily">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="des">
                        <h4>Our Mission</h4>
                        <h6>To streamline the job search process for professionals in international development, providing them with precise, AI-filtered job opportunities.</h6>
                        <p>My Career Expert was founded by <a href="https://www.linkedin.com/in/rafdouglas/" class="link-primary">RafDouglas C. Tommasi</a>, a seasoned international consultant with a rich history of contributing to global development initiatives.</p>
                        <p> With extensive experience across various prestigious organizations and projects, Mr. Tommasi created My Career Expert to bridge the gap in the international job search market.</p>
                        
                    </div>
                    
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="thumb">
                        <img src="{% static "images/about-home.png" %}" class="img img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="OurJourney" class="daily-customization-how-it-work">
    <div class="daily">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="thumb">
                        <img src="{% static "images/rafdouglas_widgets.png" %}" class="img img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="des">
                        <h4>Our Founder&#8217;s Journey</h4>
                        <p>RafDouglas has worked in key roles with organizations such as:
                            <ul>
                                <li style="list-style-type:square">the <a href="https://www.eib.org/" class="link-primary">EIB</a>,</li>
                                <li style="list-style-type:square"><a href="https://sdgintegration.undp.org/" class="link-primary">UNDP New York</a>,</li>
                                <li style="list-style-type:square"><a href="https://www.undp.org/bosnia-herzegovina" class="link-primary">UNDP Bosnia and Herzegovina</a>,</li>
                                <li style="list-style-type:square">the <a href="https://commission.europa.eu/about-european-commission/departments-and-executive-agencies/environment_en" class="link-primary">European Commission</a>, and</li>
                                <li style="list-style-type:square">the <a href="https://www.nba.com/" class="link-primary">NBA</a>.</li>
                            </ul>
                        </p>
                        <p>He also served as the Team Leader for furher projects funded by:
                            <ul>
                                <li style="list-style-type:square">the <a href="https://research-and-innovation.ec.europa.eu/funding/funding-opportunities/funding-programmes-and-open-calls/horizon-2020_en" class="link-primary">European Commission Horizon 2020</a>,</li> 
                                <li style="list-style-type:square">and <a href="https://erasmus-plus.ec.europa.eu/" class="link-primary">Erasmus+</a>,</li>
                                <li style="list-style-type:square">and a Senior Key Expert in a <a href="https://neighbourhood-enlargement.ec.europa.eu/enlargement-policy/overview-instrument-pre-accession-assistance_en" class="link-primary">IPA II</a> project.</li>
                            </ul>
                        </p>
                        <p>Lastly, he has been a consultant for Ministries in several Countries, including:
                            <ul>
                                <li style="list-style-type:square"><a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" class="link-primary">UK&#8217;s Department for Environment Food &#38; Rural Affairs</a>,</li>
                                <li style="list-style-type:square"><a href="https://www.epa.ie/" class="link-primary">Ireland&#8217;s Environmental Protecion Agency</a>, </li>
                                <li style="list-style-type:square"><a href="https://www.ekologija.gov.rs/" class="link-primary">Serbia&#8217;s Ministry of Environmental Protection</a>,</li>
                                <li style="list-style-type:square"><a href="https://gozo.gov.mt/" class="link-primary">Malta&#8217;s Ministry of Gozo</a>.</li>
                            </ul>
                        </p>
                        <p>bringing invaluable insights into the challenges and opportunities within the development sector.</p>
                        <p>His experience and dedication have been pivotal in shaping our service.</p>
                    </div>
                   
                    <div class="des">
                        <a href="{% url 'price' %}"> <button class="primary-button">Get Started Now</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="SocialProof" class="daily-customization-how-it-work">
    <div class="daily">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-12 col-12">
                    
                    <div class="des">
                        <h4>Explore our foundation and the genuine dedication behind My Career Expert. </h4>

                        <p>Visit <a href="https://www.linkedin.com/in/rafdouglas/" class="link-primary"> RafDouglas&#8217;s LinkedIn <i class="bi bi-linkedin"></i></a> profile for a straightforward look at the professional experience shaping our service.</p>
                        <p>We believe this will also help you be reassure about our legitimacy.</p>
                        <p>We encourage connecting across our social platforms for insights and community engagement to stay updated and engaged with our professional community. Follow us on: 
                            <ul>
                                <li style="list-style-type:square"><a href="https://www.linkedin.com/company/103108893/" class="link-primary"> My Career Expert on LinkedIn:  <i class="bi bi-linkedin"></i></a> </li>
                                <li style="list-style-type:square"><a href="https://facebook.com/mycareer.expert" class="link-primary"> My Career Expert on Facebook:  <i class="bi bi-facebook"></i></a> </li>
                            </ul>
                        </p>
                        
                    </div>
                    <div class="des">
                        <a href="{% url 'price' %}"> <button class="primary-button">Get Started Now</button></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="thumb">
                        <img src="{% static "images/social_widget.png" %}" class="img img-fluid" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="Values" class="block-service">
    <div class="container">
        <div class="des text-center">
            <h4>Our values</h4>
            <p>Our values reflect the heart of our mission: facilitating a platform that not only connects professionals to their ideal job opportunities in international development but also embodies the principles we stand by.</p> 
            <p>Here are the core values that guide us in providing our services:</p>
        </div>
        <div class="card-item">
            <div class="row align-items-center">


                <div class="col-lg-4 col-md-6 col-12">
                    <div class="item">
                        <div>
                            <div class="number">
                                <h3>1.</h3>
                            </div>
                            <div>
                                <h6>Innovative Career Support</h6>
                                <p>At the forefront of innovation, our services are designed to offer smart, AI-driven support, simplifying the journey towards your next professional milestone.</p>
                            </div>
                        </div>
                    </div>
                </div>
                


                <div class="col-lg-4 col-md-6 col-12">
                    <div class="item">
                        <div>
                            <div class="number">
                                <h3>2.</h3>
                            </div>
                            <div>
                                <h6>Empowerment Through Tailored Opportunities</h6>
                                <p>We believe in empowering professionals by providing them with tailored job opportunities that open doors to impactful careers in international development.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="item">
                        <div>
                            <div class="number">
                                <h3>3.</h3>
                            </div>
                            <div>
                                <h6>Precision in Matchmaking</h6>
                                <p>Dedicated to the fine art of precision, we ensure that every job alert and opportunity is closely aligned with your career aspirations and expertise, minimizing noise and maximizing relevance.</p>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="item">
                        <div>
                            <div class="number">
                                <h3>4.</h3>
                            </div>
                            <div>
                                <h6>Collaborative Growth</h6>
                                <p>Encouraging a culture of sharing and collaboration, we invite our users to grow together, leveraging our platform&#8217;s upcoming community features and referral benefits.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="item">
                        <div>
                            <div class="number">
                                <h3>5.</h3>
                            </div>
                            <div>
                                <h6>Diversity in Opportunities</h6>
                                <p>We&#8217;re committed to showcasing a diverse range of job opportunities, respecting the varied career paths and aspirations within our user base.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="item">
                        <div>
                            <div class="number">
                                <h3>6.</h3>
                            </div>
                            <div>
                                <h6>Excellence in Service</h6>
                                <p>Our goal is to offer an unmatched level of service, from the precision of our job matching to the support resources we provide, ensuring a superior experience for every user.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <section id="OurApproach" class="start-journey about-our-power">
        <div class="container">
            <div class="background-right">
                <div class="background-left">
                    <div class="des max610">
                        <h4>Our Approach</h4>
                        <p>Utilizing AI to enhance job search efficiency and relevance, we offer a unique platform that caters specifically to professionals in international development.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<!-- <section id="People" class="about-people">
		<div class="container">
			<div class="people-slider">
				<div class="owl-carousel owl-people">
					<div class="item">
                        <img class="img img-fluid" src="{% static "images/carousel-about-1.png" %}" alt="">
					</div>
                    <div class="item">
                        <img class="img img-fluid" src="{% static "images/carousel-about-2.png" %}" alt="">
					</div>
                    <div class="item">
                        <img class="img img-fluid" src="{% static "images/carousel-about-3.png" %}" alt="">
					</div>
                    <div class="item">
                        <img class="img img-fluid" src="{% static "images/carousel-about-1.png" %}" alt="">
					</div>
                    <div class="item">
                        <img class="img img-fluid" src="{% static "images/carousel-about-2.png" %}" alt="">
					</div>
                    <div class="item">
                        <img class="img img-fluid" src="{% static "images/carousel-about-3.png" %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</section> -->

</section>

<section>
    <section id="OurCommunity" class="start-journey about-our-power">
        <div class="container">
            <div class="background-right">
                <div class="background-left">
                    <div class="des max610">
                        <h4>Our Community</h4>
                        <p>Driven by a commitment to the larger good of humankind, My Career Expert has grown from a tool among colleagues to a platform supporting professionals worldwide.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</section>
<!-- 
<section id="OurCommunity2" class="leadership">
    <div class="container">
        <div class="des">
            <h3>Our Community</h3>
            <p>Driven by a commitment to the larger good of humankind, My Career Expert has grown from a tool among colleagues to a platform supporting professionals worldwide.</p>
        </div>
       
        <div class="leader">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="leader-item">
                       <div>
                        <img src="{% static "images/leader-1.png" %}" class='img img-fluid' alt="">
                        <h3>Luc Vocks</h3>
                        <p>Founder and CEO</p>
                       </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="leader-item">
                        <div>
                            <img src="{% static "images/leader-2.png" %}" class='img img-fluid' alt="">
                            <h3>Sergiu Cașu</h3>
                            <p>Director of Corporate Sales Department</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="leader-item">
                        <div>
                            <img src="{% static "images/leader-3.png" %}" class='img img-fluid' alt="">
                        <h3>Irina Bondarenco</h3>
                        <p>Director of Career Center</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="leader-item">
                        <div>
                            <img src="{% static "images/leader-4.png" %}" class='img img-fluid' alt="">
                        <h3>Mariana Uzun</h3>
                        <p>Head of Strategic Partnerships and Donor Relations</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="leader-item">
                        <div>
                        <img src="{% static "images/leader-5.png" %}" class='img img-fluid' alt="">
                        <h3>Valentina Rusnac</h3>
                        <p>Director of Marketing Department</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="leader-item">
                       <div>
                        <img src="{% static "images/leader-6.png" %}" class='img img-fluid' alt="">
                        <h3>Andrian Moraresco</h3>
                        <p>Director of IT Department</p>
                       </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> -->

<!-- {% include "includes/comment_carousel.html" %} -->

<section class="home-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="des d-flex algn-items-center justify-content-between">
                    <div>
                        <div class="d-flex align-items-center gap-2">
                            <img src="{% static "images/support.svg" %}" class="img img-fluid" alt="">
                            <h3>Contact Us</h3>
                        </div>
                        <p>Get in touch with us</p>
                    </div>
                   <a href=""> <img src="{% static "images/arrow-right.svg" %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="des d-flex algn-items-center justify-content-between">
                    <div>
                        <div class="d-flex align-items-center gap-2">
                            <img src="{% static "images/question.png" %}" class="img img-fluid" alt="">
                            <h3>Knowledge Base</h3>
                        </div>
                        <p>Find a useful article that will guide you</p>
                    </div>
                    <a href=""><img src="{% static "images/arrow-right.svg" %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}