{% load static %}
<section class="comment-carousel">
    <div class="container">
        <div class="des text-center">
            <h3>What Our Clients Say</h3>
            <p>Hear from Job Seekers We've Helped</p>
        </div>
        <div class="owl-carousel comment-slider  owl-theme">
            <div class="item">
                <div class="carousel-card">
                    <div class="card-item">
                        <div class="des">
                            <h3>"Working with My Career Expert has been a game-changer for our organization. Their strategic guidance and training programs have transformed our operations and helped us achieve our mission more effectively."</h3>
                        </div>
                        <img class="img img-fluid" src="{% static "images/carousel-card-background.png" %}" alt="">
                    </div>
                </div>
                <div class="comment-author">
                    <h3>- Jane Doe<span>, New York</span></h3>
                </div>
            </div>
            <div class="item">
                <div class="carousel-card">
                    <div class="card-item">
                        <div class="des">
                            <h3>"Working with My Career Expert has been a game-changer for our organization. Their strategic guidance and training programs have transformed our operations and helped us achieve our mission more effectively."</h3>
                        </div>
                        <img class="img img-fluid" src="{% static "images/carousel-card-background.png" %}" alt="">
                    </div>
                </div>
                <div class="comment-author">
                    <h3>- Jane Doe<span>, New York</span></h3>
                </div>
            </div>
            <div class="item">
                <div class="carousel-card">
                    <div class="card-item">
                        <div class="des">
                            <h3>"Working with My Career Expert has been a game-changer for our organization. Their strategic guidance and training programs have transformed our operations and helped us achieve our mission more effectively."</h3>
                        </div>
                        <img class="img img-fluid" src="{% static "images/carousel-card-background.png" %}" alt="">
                    </div>
                </div>
                <div class="comment-author">
                    <h3>- Jane Doe<span>, New York</span></h3>
                </div>
            </div>
            <div class="item">
                <div class="carousel-card">
                    <div class="card-item">
                        <div class="des">
                            <h3>"Working with My Career Expert has been a game-changer for our organization. Their strategic guidance and training programs have transformed our operations and helped us achieve our mission more effectively."</h3>
                        </div>
                        <img class="img img-fluid" src="{% static "images/carousel-card-background.png" %}" alt="">
                    </div>
                </div>
                <div class="comment-author">
                    <h3>- Jane Doe<span>, New York</span></h3>
                </div>
            </div>
            <div class="item">
                <div class="carousel-card">
                    <div class="card-item">
                        <div class="des">
                            <h3>"Working with My Career Expert has been a game-changer for our organization. Their strategic guidance and training programs have transformed our operations and helped us achieve our mission more effectively."</h3>
                        </div>
                        <img class="img img-fluid" src="{% static "images/carousel-card-background.png" %}" alt="">
                    </div>
                </div>
                <div class="comment-author">
                    <h3>- Jane Doe<span>, New York</span></h3>
                </div>
            </div>

            <div class="item">
                <div class="carousel-card">
                    <div class="card-item">
                        <div class="des">
                            <h3>"Working with My Career Expert has been a game-changer for our organization. Their strategic guidance and training programs have transformed our operations and helped us achieve our mission more effectively."</h3>
                        </div>
                        <img class="img img-fluid" src="{% static "images/carousel-card-background.png" %}" alt="">
                    </div>
                </div>
                <div class="comment-author">
                    <h3>- Jane Doe<span>, New York</span></h3>
                </div>
            </div>
          </div>
    </div>
</section>