{% load static %}
<section class="start-journey">
    <div class="container">
        <div class="background-right">
            <div class="background-left">
                <div class="des max10">
                    <h4>Start Your Journey Today!</h4>
                    <p>Sign up for a free trial and experience the difference <br> My Career Expert can make for you.</p>
                    <a  href="{% url 'price' %}"> <button class="primary-button">Start Your Free Trial</button></a>
                </div>
            </div>
        </div>
    </div>
</section>